// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {
  $social: &; // #{$social}__

  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: $gray;
    border-radius: 50%;
  }
}
