//- Все примеси в этом файле должны начинаться c имени блока (social)

mixin social(mods)

  //- Принимает:
  //-   mods: {string} - модификаторы блока
  //- Вызов:
    +social
      +social-link('#', 'fb')(title='Facebook')
        +sprite-svg('fb')
      +social-link('#', 'vk')(title='ВКонтакте')
        +sprite-svg('vk')

  -
    // список модификаторов
    let allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (let i = 0; i < modsList.length; i++) {
        allMods = allMods + ' social--' + modsList[i].trim();
      }
    }

  ul.social(class=allMods)&attributes(attributes)
    block

mixin social-link(link, mods)

  //-   Принимает:
  //-   link     {string} - ссылка
  //-   mods     {string} - список модификаторов
  //-   Вызов:
    +social-link('#', 'some-mod')
      span ВКонтакте

  -
    // список модификаторов
    let allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (let i = 0; i < modsList.length; i++) {
        allMods = allMods + ' social__link-wrap--' + modsList[i].trim();
      }
    }

  li.social__link-wrap(class=allMods)&attributes(attributes)
    a.social__link(href=link)
      block
