mixin modal()
  -
    const id = attributes.id
    delete attributes.id

  .modal.modal--animation-slide(id=id aria-hidden='true')&attributes(attributes)
    .modal__overlay(tabindex='-1' data-micromodal-close='')
      .modal__container(aria-modal='true')
        .modal__close
          +close('Закрыть')(data-micromodal-close='')
        .modal__content
          block
