.main-nav {
  & > ul {
    @include list-reset;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }

    & > li {
      @include media-breakpoint-down(lg) {
        border-bottom: 1px solid $border-color;
      }

      & > a {
        display: inline-flex;
        align-items: center;
        min-height: 30px;

        @include media-breakpoint-down(lg) {
          padding: 10px 0;
          font-size: 18px;
        }
      }
    }
  }

  .chevron {
    @include flex-all-center;

    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: $accordion-button-icon;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    @include media-breakpoint-down(lg) {
      background-color: #ebebeb;
    }
  }

  .submenu {
    display: none;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    text-align: left;
    list-style: none;

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      display: block;
      width: 250px;
      min-width: $dropdown-min-width;
      min-height: 100px;
      margin: 0;
      padding: 8px 0;
      background: $dropdown-bg;
      border: $dropdown-border-width solid $border-color;
      border-color: $dropdown-border-color;
      border-radius: $dropdown-border-radius;
      transform: translateY(5px);
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease 0s;
      pointer-events: none;
    }

    a {
      display: block;
      width: 100%;
      padding: $dropdown-item-padding-y 0;
      color: $dropdown-link-color;
      text-decoration: none;

      @include media-breakpoint-up(lg) {
        padding-right: $dropdown-item-padding-x;
        padding-left: $dropdown-item-padding-x;
      }

      &:hover {
        color: $dropdown-link-hover-color;

        @include media-breakpoint-up(lg) {
          background-color: $dropdown-link-hover-bg;
        }
      }
    }

    .chevron {
      @include media-breakpoint-up(lg) {
        transform: rotate(-90deg);
      }
    }

    .submenu {
      @include media-breakpoint-up(lg) {
        top: 0;
        left: 100%;
      }
    }
  }

  .is-dropdown {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    & > a {
      width: calc(100% - 30px);
    }

    &:hover > .submenu {
      @include media-breakpoint-up(lg) {
        transform: none;
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }
    }

    &.is-active {
      & > .submenu {
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }

      & > .chevron {
        @include media-breakpoint-down(lg) {
          transform: rotate(180deg);
        }
      }
    }
  }
}
