-
  let mainMenu =[
    { title: 'Главная страница', link: '#'},
    { title: 'Страницы', link: '#',
      list: [
        { name: 'О компании', link: '#' },
        { name: 'Услуги', link: '#' },
      ]
    },
    { title: 'Репозиторий', link: 'https://github.com/Ocupuc123' },
    { title: 'Контакты автора', link: '#',
      list: [
        { name: 'О компании', link: '#' },
        { name: 'Услуги', link: '#' },
        { name: 'Страницы', link: '#' }
      ]
    }
  ]

mixin main-nav(mods)
  -
    const baseName = 'main-nav'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  +b.main-nav
