-
  const mainMenu = [
    {
      "id": "0",
      "name": "Главная страница",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Страницы",
      "url": "#",
      "childs": [
        {
          "id": "1-0",
          "name": "О компании",
          "url": "#"
        },
        {
          "id": "1-1",
          "name": "Услуги",
          "url": "#",
          "childs": [
            {
              "id": "1-1-0",
              "name": "Вёрстка",
              "url": "#"
            },
            {
              "id": "1-1-1",
              "name": "Стриптиз",
              "url": "#"
            }
          ]
        },
        {
          "id": "1-2",
          "name": "Ещё одна страница",
          "url": "#"
        },
      ]
    },
    {
      "id": "2",
      "name": "Репозиторий",
      "url": "https://github.com/Ocupuc123/start-template"
    },
    {
      "id": "3",
      "name": "Контакты автора",
      "url": "https://github.com/Ocupuc123"
    },
  ];
