.main-nav {
  .sub-arrow {
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 1;
    width: 34px;
    height: 34px;
    margin: 0;
    padding: 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 357 357'%3E%3Cpath d='M357 204H204v153h-51V204H0v-51h153V0h51v153h153v51z'/%3E%3C/svg%3E") center no-repeat, #f3f3f3;
    background-size: 14px 14px;
    border: 0;
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: none;

    &.active {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 357 357'%3E%3Cpath d='M357 204H0v-51h357v51z'/%3E%3C/svg%3E") center no-repeat, #f3f3f3;
      background-size: 14px 14px;
    }
  }

  a {
    color: inherit;
  }

  ul {
    @include list-reset;
  }

  li {
    position: relative;
  }

  & > ul ul a {
    display: inline-flex;
    width: 100%;
    padding: 10px 55px 10px 15px;
  }

  & > ul > li > a {
    display: inline-flex;
    width: 100%;
    padding: 8px 55px 8px 15px;
    font-size: 20px;

    &:hover {
      color: var(--color-main);
    }
  }

  & > ul > li.active > a {
    color: var(--color-main);
  }

  & > ul ul {
    display: none;
  }

  /* stylelint-disable-next-line order/order */
  @include media-breakpoint-up(lg) {
    .sub-arrow {
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      margin-top: -2px;
      background: transparent;
      border-color: var(--heading-color) transparent transparent;
      border-style: solid dashed dashed;
      border-width: 4px;
      border-radius: 0;

      &.active {
        background-color: transparent;
        background-image: none;
      }
    }

    & > ul > li > a {
      padding: 8px 15px;
      font-size: 20px;
    }

    & > ul ul a {
      padding: 8px 15px;
      transition: background-color var(--transition-time), color var(--transition-time);

      &:hover {
        color: var(--color-main);
        background-color: #f3f3f3;
      }
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    & > ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      min-width: 200px;
      max-width: 300px;
      padding: 10px 0;
      white-space: nowrap;
      background-color: #fff;
      border: 1px solid var(--border-color);
      border-radius: 3px;

      .sub-arrow {
        right: 10px;
        transform: rotate(-90deg);
      }
    }

    & > ul ul ul {
      top: 0;
      left: 100%;
      margin-left: -10px;
    }

    li:hover > ul {
      display: block;
    }
  }
}
