// В этом файле должны быть стили для БЭМ-блока table, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table {
  display: table;
  width: 100%;
  margin-top: var(--typo-margin-vertical);
  margin-bottom: var(--typo-margin-vertical);
  border: 1px solid var(--border-color);
  border-collapse: collapse;

  th {
    text-align: inherit;
  }

  td,
  th {
    padding: var(--field-padding-vertical) var(--field-padding-horizontal);
    vertical-align: top;
    border-bottom: 1px solid var(--border-color);

    &:not(:first-child) {
      border-left: 1px solid var(--border-color);
    }
  }

  // caption {
  //   caption-side: top;
  //   text-align: left;
  //   padding: 0.4rem var(--field-padding-horizontal);
  //   border-bottom: 1px solid var(--border-color);
  //   font-size: var(--font-size-sm);
  //   line-height: 1em;
  //   color: var(--text-color)-muted;
  // }
}
