// В этом файле должны быть стили для БЭМ-блока field-actions, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.field-actions {
  display: block;
  margin-top: var(--typo-margin-vertical);
  margin-bottom: var(--typo-margin-vertical);

  &__text {
    display: block;
    margin-top: var(--typo-margin-vertical);
    margin-bottom: var(--typo-margin-vertical);
    color: var(--text-color) -muted;
    font-size: var(--font-size-sm);
    line-height: 1.2em;
  }
}
