// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "sass:color";

.button {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: var(--field-padding-vertical)  var(--field-padding-horizontal);
  overflow: hidden;
  color: var(--text-color);
  font-size: 1em;
  font-family: inherit;
  line-height: var(--line-height);
  white-space: nowrap;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: var(--text-color);
  background-image: none;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time), box-shadow var(--transition-time);
  user-select: none;

  &:active,
  &:focus {
    @include field-focus;
  }

  &:hover,
  &:focus {
    color: var(--text-color);
    text-decoration: none;
    background-color: color.adjust(var(--text-color), $blackness: 15%);
    border-color: color.adjust(var(--text-color), $blackness: 12%);
  }

  &--disabled,
  &:disabled {
    color: var(--text-color);
    background-color: var(--text-color);
    cursor: not-allowed;
    opacity: var(--opacity);

    @at-root a.button--disabled {
      pointer-events: none;
    }
  }

  &--theme-main {
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);

    &:hover,
    &:focus {
      color: #fff;
      background-color: color.adjust(var(--color-main), $blackness: 10%);
      border-color: color.adjust(var(--color-main), $blackness: 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: var(--color-main);
      border-color: var(--color-main);
    }
  }

  &--style-outline {
    color: var(--color-main);
    background-color: transparent;
  }
}
