// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "sass:color";

.button {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  overflow: hidden;
  color: $text-color;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  white-space: nowrap;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: $gray-lightest;
  background-image: none;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-time, color $transition-time, border-color $transition-time, box-shadow $transition-time;
  user-select: none;

  &:active,
  &:focus {
    @include field-focus;
  }

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    background-color: color.adjust($gray-lightest, $blackness: 15%);
    border-color: color.adjust($gray-lighter, $blackness: 12%);
  }

  &--disabled,
  &:disabled {
    color: $text-color;
    background-color: $gray-lightest;
    cursor: not-allowed;
    opacity: $opacity;

    @at-root a.button--disabled {
      pointer-events: none;
    }
  }

  &--theme-main {
    color: #fff;
    background-color: $color-main;
    border-color: $color-main;

    &:hover,
    &:focus {
      color: #fff;
      background-color: color.adjust($color-main, $blackness: 10%);
      border-color: color.adjust($color-main, $blackness: 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &--style-outline {
    color: $color-main;
    background-color: transparent;
  }
}
