-
  const data = [
    {
      "title": "Блок 1",
    },
    {
      "title": "Блок 2",
    },
    {
      "title": "Блок 3",
    },
    {
      "title": "Блок 4",
    },
    {
      "title": "Блок 5",
    },
  ];
