$breadcrumb-active-color: $body-color;
$breadcrumb-font-size: 16px;
$breadcrumb-item-padding-x: 10px;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider-color: $body-color;

// @import "node_modules/bootstrap/scss/breadcrumb";
