// В этом файле должны быть стили для БЭМ-блока baron, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Оригинальные темы оформления: https://github.com/Diokuz/baron/blob/master/skins/styles.css
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.baron {
  $block-name: &; // #{$block-name}__element

  $scrollbar-width: 14px;

  position: relative;
  overflow: hidden;

  &__scroller {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-right: $scrollbar-width;
    overflow-y: scroll;
    border: 0;
    -webkit-overflow-scrolling: touch; // remove line to customize scrollbar in iOs

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__track {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: $scrollbar-width;
    background-color: $gray-lightest;
    opacity: 0;

    #{$block-name}--scrollbar & {
      opacity: 1;
    }
  }

  &__free {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__bar {
    position: absolute;
    left: ($scrollbar-width * -1 + 1);
    z-index: 1;
    display: none;
    box-sizing: border-box;
    width: ($scrollbar-width - 2);
    background: $gray-lighten;
    opacity: 1;
    pointer-events: auto;

    #{$block-name}--dragging &,
    &:hover {
      background-color: $gray-light;
    }

    #{$block-name}--scrollbar & {
      display: block;
    }
  }

  &__control {
    display: none;
  }
}
