//- Все примеси в этом файле должны начинаться c имени блока (offcanvas)

mixin offcanvas(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +offcanvas('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' offcanvas--' + modsList[i].trim();
      }
    }

  .offcanvas(class=allMods)&attributes(attributes)
    .offcanvas__header
      .offcanvas__logo
        +logo()
      +close('Закрыть')(data-bs-dismiss='offcanvas')
    .offcanvas__body
      block
    .offcanvas__footer
      .offcanvas__phones
        a(href='tel:89002448310') +7 900 244 83 10
        a(href='tel:89002448310') +7 900 244 83 10
      .offcanvas__mails
        a(href='mailto:mail@mail.ru') mail@mail.ru
