// В этом файле должны быть стили для БЭМ-блока progress, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.progress {
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &__bar {
    max-width: 100%;
    min-height: 1px;
    white-space: nowrap;
    background-color: $text-color;
    border-radius: $border-radius;
    transition: width $transition-time;
  }

  &__bartext {
    display: inline-block;
    padding: 0.5em;
  }
}
