/* stylelint-disable max-nesting-depth */
// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "../../../styles/settings/variables" as *;
@use "../../../styles/utils/mixins" as *;

.burger {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
}
