@mixin burger {
  --burger-width: 30px;
  --burger-height: 20px;
  --burger-line-height: 2px;

  $burger: &;

  position: relative;
  width: var(--burger-width);
  height: var(--burger-height);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentcolor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    content: "";
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  .mm-ocd-opened & {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    #{$burger}__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentcolor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    #{$burger}__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
