@mixin field-text {
  display: inline-block;
  width: 100%;
  min-height: calc(#{$line-height}em + #{$field-padding-vertical} + #{$field-padding-vertical} + 2px);
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  appearance: textfield;

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[readonly] {
    background-color: $text-color;
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &[type="color"] {
    padding: 0;
  }

  &::placeholder {
    color: $text-color-muted;
    opacity: 1;
  }
}

@mixin field-help-text {
  display: block;
  padding-top: 0.4em;
  color: $text-color-muted;
  font-size: $font-size-sm;
  line-height: 1.2em;

  &:empty {
    display: none;
  }
}

@mixin field-focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba($color-main, $opacity);
}

@mixin field-name {
  display: block;
  margin-bottom: 0.4em;
  font-weight: 700;
  line-height: $line-height;
}
