@mixin field-text {
  display: inline-block;
  width: 100%;
  min-height: calc(#{var(--line-height)}em + #{var(--field-padding-vertical)} + #{var(--field-padding-vertical)} + 2px);
  margin: 0;
  padding: var(--field-padding-vertical)  var(--field-padding-horizontal);
  font-size: 1em;
  font-family: inherit;
  line-height: var(--line-height);
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  appearance: textfield;

  &:focus {
    @include field-focus;
  }

  &[disabled],
  &[readonly] {
    background-color: var(--text-color);
    cursor: not-allowed;
  }

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &[type="color"] {
    padding: 0;
  }

  &::placeholder {
    color: var(--text-color) -muted;
    opacity: 1;
  }
}

@mixin field-help-text {
  display: block;
  padding-top: 0.4em;
  color: var(--text-color) -muted;
  font-size: var(--font-size-sm);
  line-height: 1.2em;

  &:empty {
    display: none;
  }
}

@mixin field-focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(var(--color-main) var(--opacity));
}

@mixin field-name {
  display: block;
  margin-bottom: 0.4em;
  font-weight: 700;
  line-height: var(--line-height);
}
