@use "sass:map";

// The maximum value is reduced by 0.02px to work around the limitations of
// `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261

$breakpoints: (
  layout-width: $layout-width,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: (map.get($breakpoints, $breakpoint) - 0.02) * 1px) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint) * 1px) {
    @content;
  }
}

@mixin media-breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: map.get($breakpoints,
  $breakpoint-min) * 1px) and (max-width: (map.get($breakpoints,
  $breakpoint-max) - 0.02) * 1px) {
    @content;
  }
}
