@use "sass:map";

$breakpoints: (
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: (map.get($breakpoints, $breakpoint) - 1) * 1px) {
    @content;
  }
}

@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: map.get($breakpoints, $breakpoint) * 1px) {
    @content;
  }
}

@mixin media-breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: map.get($breakpoints,
  $breakpoint-min) * 1px) and (max-width: (map.get($breakpoints,
  $breakpoint-max) - 1) * 1px) {
    @content;
  }
}
