//- Структура данных — в accordion.data.pug

mixin accordion(mods)
  //- Вызов:
    +accordion()
  -
    const baseName = 'accordion'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  //- подключаем файл со структурой данных блока
  include accordion.data.pug

  .accordion(class=allMods, itemscope="", itemtype="https://schema.org/FAQPage")&attributes(attributes)
    each accordion in accordionData
      .accordion__item(itemscope="", itemprop="mainEntity", itemtype="https://schema.org/Question")
        .accordion__header
          button.accordion__trigger(type="button", itemprop="name")!= accordion.question
        .accordion__panel(itemscope="", itemprop="acceptedAnswer", itemtype="https://schema.org/Answer")
          p.accordion__text(itemprop="text")!= accordion.answer
