-
  const accordionData = [
    {
      "question": "Первый вопрос аккордиона",
      "answer": "Ответ на первый вопрос аккордиона."
    },
    {
      "question": "Второй вопрос аккордиона",
      "answer": "Ответ на второй вопрос аккордиона."
    },
    {
      "question": "Третий вопрос аккордиона",
      "answer": "Ответ на третий вопрос аккордиона."
    },
    {
      "question": "Четвертый вопрос аккордиона",
      "answer": "Ответ на четвертый вопрос аккордиона."
    }
  ]
