.checkbox {
  position: relative;
  display: inline-block;
  line-height: 100%;
  cursor: pointer;

  i {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 18px;
    vertical-align: middle;
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center center;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0);

    &:checked + i {
      background-image: url("../img/checkbox-checked.svg");
    }
  }

  a {
    text-decoration: underline;
  }
}
