// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {
  $social: &; // #{$social}__

  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;

  &__link {
    @include flex-all-center;

    width: 45px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    background-color: #808080;
    border-radius: 50%;
    transition: color $transition-time, background-color $transition-time, opacity $transition-time;

    #{$social}__link-wrap--fb & {
      background-color: $color-fb;
    }

    // #{$social}__link-wrap--vk & {
    //   background-color: $color-vk;
    // }

    // #{$social}__link-wrap--tw & {
    //   background-color: $color-tw;
    // }

    // #{$social}__link-wrap--gh & {
    //   background-color: $color-gh;
    // }
  }

  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}
