//- Все примеси в этом файле должны начинаться c имени блока (mobile-menu)

mixin mobile-menu(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +mobile-menu('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' mobile-menu--' + modsList[i].trim();
      }
    }

  +b.mobile-menu(class=allMods)&attributes(attributes)
    +e.head
      +e.logo
        +logo
    +e.menu
    +e.contacts
      +e.phone
        a(href='tel:') 8900000000
      +e.mail
        a(href='mailto:') mail@mail.ru
