// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "sass:color";

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100%;
  padding: $field-padding-vertical  $field-padding-horizontal;
  color: $text-color;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: $gray-lightest;
  border: none;
  border-radius: $border-radius;
  outline: none;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    background-color: color.adjust($gray-lightest, $lightness: -10%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    color: $text-color;
    cursor: not-allowed;
    background-color: $gray-lightest;
    opacity: $opacity;

    /* stylelint-disable-next-line at-rule-no-unknown */
    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--main {
    color: #ffffff;
    background-color: $color-main;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: color.adjust($color-main, $lightness: -10%);
    }

    &--disabled,
    &:disabled {
      color: #ffffff;
      background-color: $color-main;
    }
  }
}
