mixin cookie(mods)

  //- Вызов:
        +cookie()
  -
    const baseName = 'cookie'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .cookie(class=allMods)&attributes(attributes)
    .cookie__text-content
      p Наш сайт использует #[a(href='/politika-konfidenczialnosti.html') cookie] #[img(src='./images/coockie.png')] (файлы с данными о прошлых посещениях сайта) для персонализации сервисов и удобства пользователей. Вы можете запретить сохранение cookie в настройках своего браузера.
    .cookie__button-container
      +button('Принять','main')
    +close('Закрыть')
