@use "sass:color";
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.field-search {
  $field-search: &;

  &__input-wrap {
    position: relative;
    display: block;
  }

  &__input {
    @include field-text;

    appearance: none;
  }

  &__btn {
    @include btn-reset;
    @include flex-all-center;

    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    color: $color-main;
  }

  &--error {
    #{$field-search}__input {
      color: $color-danger;
      background-color: color.adjust($color-danger, $lightness: 35%);
      border-color: $color-danger;
    }
  }
}
