@use "variables" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: $font-family;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;
}

html {
  min-height: 100%;
  font-size: $font-size;
  line-height: $line-height;
  text-rendering: optimizelegibility;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
}

img,
svg,
picture,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-color-hover;
  }

  &[href^="tel:"] {
    white-space: nowrap;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: $heading-font-weight;
  line-height: 1.2;
  color: $heading-color;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

.container {
  width: min($container-width, 100% - calc($container-gap-desktop * 2));
  margin-inline: auto;

  @include tablet-viewport {
    width: min($container-width, 100% - calc($container-gap-mobile * 2));
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none;
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}
