.dropdown-search {
  position: relative;
  display: inline-flex;

  // .header-search__toggler
  &__toggler {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  // .header-search__wrapper
  &__wrapper {
    display: flex;
    gap: 0 20px;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: $border-radius;

    &.is-active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      width: 320px;
      box-shadow: 0 2px 4px rgb(0 0 0 / 4%);
      transform: translateY(-15px);
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }
  }

  // .header-search__input
  &__input {
    display: block;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 10px 15px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    outline: none;
    box-shadow: none;
  }

  &__submit {
    position: relative;
  }

  button {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
  }
}
