.product-chars-list {
  display: flex;
  flex-direction: column;

  // .product-chars-list__group
  &__group {
    display: flex;
    margin: 4px 0;

    @include media-breakpoint-down(md) {
      margin: 0 0 12px;
      padding-bottom: 12px;
      border-bottom: 1px dashed #e1e2e5;
    }
  }

  // .product-chars-list__term
  &__term {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-right: 8px;
    font-weight: 400;
    font-style: normal;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 20px;
    }

    &::after {
      @include media-breakpoint-up(md) {
        display: block;
        flex: 1;
        margin: 0 8px;
        border-bottom: 1px dashed #e1e2e5;
        content: "";
      }
    }
  }

  // .product-chars-list__definition
  &__definition {
    display: flex;
    flex: 1;
    align-items: baseline;
    margin-bottom: 0;
    font-weight: 400;
    font-style: normal;

    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
