//- Все примеси в этом файле должны начинаться c имени блока (sprite-svg)

mixin sprite-svg(props)
  //- Принимает:
  //-   props    {string} - список параметров
  //- Вызов:
    +sprite-svg({
      width: 32,
      height: 32,
      name: 'имя_иконки',
    })

  -
    // список модификаторов
    var allMods = '';

    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sprite-svg--' + modsList[i].trim();
      }
    }

  svg(class=allMods, width!=props.width, height!=props.height)&attributes(attributes)
    use(xlink:href=`./images/sprite.svg#${props.name}`)
