@use "sass:color";

// В этом файле должны быть стили для БЭМ-блока slick-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$slick-arrow-width: 45px !default;
$slick-arrow-height: 45px !default;
$slick-arrow-radius: 50% !default;
$slick-arrow-bg: $color-main !default;
$slick-arrow-color: fff !default;
$slick-arrow-bg-size: 1rem !default;
$slick-dot-color: #dadada !default;
$slick-dot-color-active: $color-main !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat;
  }
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  width: $slick-arrow-width;
  height: $slick-arrow-height;
  margin: 0;
  padding: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  background-color: $slick-arrow-bg;
  background-repeat: no-repeat;
  background-position: center;
  background-size: $slick-arrow-bg-size;
  border: none;
  border-radius: $slick-arrow-radius;
  outline: none;
  transform: translate(0, -50%);
  cursor: pointer;
  transition: background-color $transition-time;

  &.slick-disabled {
    opacity: $slick-opacity-not-active;
  }
}

.slick-prev {
  left: 25px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23#{$slick-arrow-color}' viewBox='0 0 384 512'><path fill-rule='evenodd' d='M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/></svg>");

  &:hover,
  &:focus {
    color: transparent;
    /* stylelint-disable-next-line function-no-unknown */
    background-color: color.adjust($slick-arrow-bg, $blackness: 15%);
    outline: none;
    opacity: $slick-opacity-on-hover;
  }

  [dir="rtl"] & {
    right: 25px;
    left: auto;
  }
}

.slick-next {
  right: 25px;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512' fill='%23#{$slick-arrow-color}'><path fill-rule='evenodd' d='M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/></svg>");

  &:hover,
  &:focus {
    color: transparent;
    /* stylelint-disable-next-line function-no-unknown */
    background-color: color.adjust($slick-arrow-bg, $blackness: 15%);
    outline: none;
    opacity: $slick-opacity-on-hover;
  }

  [dir="rtl"] & {
    right: auto;
    left: 25px;
  }
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      display: block;
      width: $slick-dot-size;
      height: $slick-dot-size;
      padding: 0;
      color: transparent;
      font-size: 0;
      line-height: 0px;
      background: $slick-dot-color;
      border: 0;
      border-radius: 50%;
      outline: none;
      cursor: pointer;

      /* stylelint-disable-next-line max-nesting-depth */
      &:hover,
      &:focus {
        outline: none;
        opacity: $slick-opacity-on-hover;
      }
    }

    &.slick-active button {
      background: $slick-dot-color-active;
      opacity: $slick-opacity-default;
    }
  }
}
