//- Стандартный шаблон страницы
block variables

include ../../bemto/bemto
include ../blocks/mixins

-const baseDir = './';

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    title=title
    link(rel='stylesheet', href=`${baseDir}css/main.css`)

    //- Предзагрузка шрифтов или иных ресурсов
    //- link(rel='preload', href='fonts/Bloggersans.woff2', as='font', type='font/woff2', crossorigin='anonymous')

  body
    block header
      include ../blocks/header/header
    block content
    block footer
      include ../blocks/footer/footer
    block scripts
      script(src=`${baseDir}js/main.js`)
