-
  const characteristics = [
    {
      "term": "Тип",
      "definition": "Квартира / апартаменты"
    },
    {
      "term": "Город",
      "definition": "Дубай, ОАЭ"
    },
    {
      "term": "Район",
      "definition": "Mohammed Bin Rashid City (MBR City)"
    },
    {
      "term": "Общая площадь",
      "definition": "61 кв.м."
    },
    {
      "term": "Количество комнат",
      "definition": "2"
    },
    {
      "term": "Количество ванных комнат",
      "definition": "61 кв.м."
    },
    {
      "term": "Парковочное место",
      "definition": "Есть"
    },
    {
      "term": "Бассейн",
      "definition": "Есть"
    },
    {
      "term": "Спортзал",
      "definition": "Есть"
    },
  ];
