//- Структура характеристик — в characteristic.data.pug

mixin characteristic(mods)
  //- Вызов:
        +characteristic()
  -
    const baseName = 'characteristic'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  //- подключаем файл со структурой данных блока
  include characteristic.data.pug

  dl.characteristic(class=allMods)&attributes(attributes)
    each characteristic in characteristics
      .characteristic__group
        dt.characteristic__term!=characteristic.term
        dd.characteristic__definition!=characteristic.definition
