@use "sass:color";

$submenu-width: 250px;
$submenu-border-radius: 6px;
$sublink-color: $gray-darkest;
$sublink-font-size: 14px;
$expand-button-size: 35px;
$menu-link-color: $gray-darkest;
$font-size-desktop: 16px;
$font-weight-desktop: 400;
$line-height-desktop: 1.2;
$font-size-mobile: 18px;
$menu-bg-mobile: rgb(244 245 250);

.responsive-menu {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  align-items: center;

  @include tablet-viewport {
    flex-direction: column;
    gap: 5px 0;
    align-items: flex-start;
    padding: 15px 0;
    background: $menu-bg-mobile;
    border-radius: 6px;

    .expand-button {
      @include btn-reset;

      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: $expand-button-size;
      height: $expand-button-size;
      font-size: 0;
      color: transparent;
      background-color: transparent;
      border-radius: 3px;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        margin: -1px 0 0 -10px;
        content: "";
        background-color: $color-main;
      }

      &::after {
        transform: rotate(90deg);
      }

      &[aria-expanded="true"]::after {
        opacity: 0;
      }
    }

    & > li > a {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: $expand-button-size;
      padding: 0 15px;
      font-size: $font-size-mobile;
      color: $menu-link-color;
    }

    ul {
      max-height: 0;
      padding: 0;
      margin: 0;
      overflow: hidden;
      list-style: none;
      background: color.adjust($menu-bg-mobile, $lightness: -4%);
      border-radius: 6px;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      transition-duration: $transition-time;
      transition-property: max-height;

      &.expanded {
        max-height: 500px;
        transition-timing-function: ease-in;
      }

      a {
        display: inline-flex;
        align-items: center;
        width: 100%;
        min-height: $expand-button-size;
        padding: 0 15px;
      }

      ul {
        background: color.adjust($menu-bg-mobile, $lightness: -8%);
      }
    }

    .has-submenu > a {
      padding-right: calc($expand-button-size + 10px);
    }

    li {
      width: 100%;
    }
  }

  @media (min-width: $menu-desktop-width) {
    .has-submenu {
      display: inline-flex;
      align-items: center;
    }

    .expand-button {
      @include btn-reset;
      @include flex-all-center;

      position: relative;
      width: 7px;
      height: 7px;
      margin-top: -4px;
      margin-left: 10px;
      font-size: 0;
      color: transparent;
      vertical-align: middle;
      pointer-events: none;

      &::before {
        width: 100%;
        height: 100%;
        content: "";
        border-color: $menu-link-color;
        border-style: solid;
        border-width: 0 0 1px 1px;
        transform: rotate(-45deg);
      }
    }

    & > li > a {
      display: inline-flex;
      padding: 10px 0;
      font-size: $font-size-desktop;
      font-weight: $font-weight-desktop;
      line-height: $line-height-desktop;
      color: $menu-link-color;
    }

    ul {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: $z-index-modal - 10;
      display: none;
      width: $submenu-width;
      padding: 10px 0;
      margin: 0;
      list-style: none;
      background-color: #ffffff;
      border-radius: $submenu-border-radius;
      box-shadow: $shadow;

      .expand-button {
        margin-top: 0;
        margin-right: 20px;

        &::before {
          transform: rotate(-135deg);
        }
      }

      a {
        display: inline-flex;
        width: 100%;
        padding: 5px 20px;
        font-size: $sublink-font-size;
        color: $sublink-color;

        &:hover {
          color: $link-color-hover;
        }
      }

      ul {
        top: 0;
        left: 100%;
      }

      li {
        width: 100%;
      }
    }

    li:hover > ul {
      display: block;
      animation: submenu-fade-in $transition-time;
    }

    li > ul li:hover > ul {
      animation: submenu-fade-in-left $transition-time;
    }
  }

  li {
    position: relative;
  }
}

@keyframes submenu-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes submenu-fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
