.table-responsive {
  width: 100%;
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  border-collapse: collapse;
  border: 1px solid $border-color;

  @include tablet-viewport {
    display: block;
    border: 0;

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        border: 1px solid $border-color;
        border-bottom: 0;

        /* stylelint-disable-next-line max-nesting-depth */
        &:not(:last-child) {
          margin-bottom: 1em * $line-height;
        }
      }

      td {
        display: block;
        width: 100%;
        /* stylelint-disable-next-line declaration-no-important */
        border-right: 0 !important;
        /* stylelint-disable-next-line declaration-no-important */
        border-left: 0 !important;

        /* stylelint-disable-next-line max-nesting-depth */
        &::before {
          display: block;
          font-weight: 700;
          content: attr(data-label);
        }
      }
    }
  }

  caption {
    padding: 0.4em $field-padding-horizontal;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-color-muted;
    text-align: left;
    caption-side: top;
    border: 1px solid $border-color;
    border-bottom: 0;

    @include tablet-viewport {
      display: block;
      padding: 0;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-family: $font-family;
      font-size: $font-size-h3;
      font-weight: 700;
      line-height: 1.2;
      color: currentColor;
      border: 0;
    }
  }

  td,
  th {
    padding: $field-padding-vertical $field-padding-horizontal;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: inherit;
  }
}
