//- Все примеси в этом файле должны начинаться c имени блока (swiper)

mixin swiper(mods, settings)

  //- Принимает:
  //-   mods        {string} - список модификаторов
  //-   settings    {object}
  //-     navigation:   {boolean}
  //-     pagination:   {boolean}
  //- Вызов:
        +swiper('some-mod', {navigation: true, pagination: false})
          +swiper-slide()

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' swiper--' + modsList[i].trim();
      }
    }

  .swiper(class=allMods)&attributes(attributes)
    .swiper-wrapper
      block
    if(typeof(settings.pagination) !== 'undefined' && settings.pagination)
      .swiper-pagination
    if(typeof(settings.navigation) !== 'undefined' && settings.navigation)
      .swiper-button-prev
      .swiper-button-next

mixin swiper-slide()

  .swiper-slide
    block
