// В этом файле должны быть стили для БЭМ-блока navbar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.navbar {
  $navbar: &; // #{$navbar}__element

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #f3f3f3;
  }

  &-brand {
    font-weight: 500;
    font-size: 16px;

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-collapse {
    &:not(.show) {
      @include media-breakpoint-up(xl) {
        display: block;
      }
    }

    > * {
      @include media-breakpoint-down(xl) {
        margin: 15px 0;
      }
    }
  }

  .burger {
    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}
