// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tabs {
  $block-name: &; // #{$block-name}__element

  margin-top: var(--typo-margin-vertical);
  margin-bottom: var(--typo-margin-vertical);

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;

    &::after {
      display: none;
      flex-grow: 1;
      height: 1px;
      background-color: var(--border-color);
      content: "";

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  &__link-wrap {
    position: relative;
    margin: 0 0.3em 0.3em 0;
    color: var(--text-color) -muted;
    border: 1px solid var(--border-color);

    @include media-breakpoint-up(md) {
      margin: 0;

      &:not(:last-child) {
        border-right: none;
      }
    }

    &--active {
      color: var(--text-color);

      @include media-breakpoint-up(md) {
        border-bottom: 1px solid transparent;
      }

      #{$block-name}__link {
        background-color: #fff;
      }
    }
  }

  &__link {
    display: block;
    padding: var(--field-padding-vertical) var(--field-padding-horizontal);
    color: currentcolor;
    text-decoration: none;
    background-color: var(--text-color);

    &:hover,
    &:focus {
      color: currentcolor;
    }
  }

  &__content-wrapper {
    display: block;
    padding: var(--field-padding-vertical) var(--field-padding-horizontal);
    border: 1px solid var(--border-color);

    @include media-breakpoint-up(md) {
      border-top: none;
    }
  }

  &__content-item {
    display: none;

    & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
      margin-bottom: 0;
    }

    &--active {
      display: block;
    }
  }
}
