extends ../layouts/layout

block meta
  title Главная

block consts
  - const bodyClass = 'home'

block content
  main
    .container
      +main-nav('0')
      +btn('Кнопка-ссылка', 'main')(href="#")
      +tabs([
        {
          'id': 'tab00',
          'text': 'Вкладка ноль',
          'isActive': true,
        },
        {
          'id': 'tab01',
          'text': 'Вкладка один',
        },
        ], 'some-mod')
        +tabs-item('tab00', true, 'some')
          p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.0
          +tabs([
            {
              'id': 'ta00',
              'text': 'Вкладка ноль',
              'isActive': true,
            },
            {
              'id': 'ta01',
              'text': 'Вкладка один',
            },
            ], 'some-mod')
            +tabs-item('ta00', true, 'some')
              p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.0
            +tabs-item('ta01')
              p За словесными горами в стране, гласных и согласных живут рыбные тексты.1
        +tabs-item('tab01')
          p За словесными горами в стране, гласных и согласных живут рыбные тексты.1
