extends ../layouts/layout

block meta
  title Главная

block content
  main
    +container()
      +burger('Открыть главное меню')(data-offcanvas='open')
      +offcanvas-mobile()
        +main-nav('1')
