extends ../layouts/layout

block meta
  title Главная

block content
  main
    +container()
      +burger('Открыть главное меню')(data-bs-toggle='offcanvas' data-bs-target='.offcanvas' aria-controls='offcanvas')
      +offcanvas()
        +main-nav('1')
