extends ../layouts/layout

block meta
  title Главная

block consts
  - const bodyClass = 'home'

block content
  main
    .container
      +main-nav('0')
      +btn('Кнопка-ссылка', 'main')(href="#")
