extends ../layouts/layout

block meta
  title Главная

block consts
  - const bodyClass = 'home'

block content
  main
    +logo('/')
      img(src='./images/logo.jpg' width='' height='' alt='картинка' loading='lazy')
    +alert
      p 123123
