//- Все примеси в этом файле должны начинаться c имени блока (mobile-nav)

mixin mobile-nav(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +mobile-nav(id='mobile-nav', 'Текст', 'some-mod')
      Показать мобильное меню:
        +burger('Открыть главное меню')(data-mobile-nav-target='#mobile-nav', data-mobile-nav='open')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' mobile-nav--' + modsList[i].trim();
      }
    }

  section.mobile-nav(id=id, class=allMods, tabindex='-1', aria-hidden='true')&attributes(attributes)
    .mobile-nav__dialog
      .mobile-nav__content
        .mobile-nav__header
          +logo(class='mobile-nav__logo')
            img(src='./images/main-logo.svg' alt='')
          +close('Закрыть')(class='mobile-nav__close', data-mobile-nav='close')
        .mobile-nav__body
          .mobile-nav__menu
        .mobile-nav__footer
          .mobile-nav__phone
            a(href='tel:+79366668264') +7 (936) 666-82-64
