@use "../variables" as *;
@use "../utils/mixins" as *;

.container {
  width: min($container-width, 100% - calc($container-gap * 2));
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(230 239 245);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-main;
    border-radius: 6px;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}
