mixin logo(mods)
  -
    const baseName = 'logo'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.logo(class=allMods href='/')&attributes(attributes)
    img(src='images/logo.svg' alt='logo')
