// В этом файле должны быть стили для БЭМ-блока accordion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "../../../styles/settings/variables" as *;
@use "../../../styles/utils/mixins" as *;

.accordion {
  $accordion: &; // #{$accordion}__element

  &__item {
    border-bottom: 1px solid $border-color;

    &.js-enabled #{$accordion}__panel {
      visibility: hidden;
    }

    &--active.js-enabled #{$accordion}__panel {
      visibility: visible;
    }

    &--active #{$accordion}__trigger::after {
      transform: rotate(135deg);
    }
  }

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    &::after {
      @include flex-all-center;

      position: absolute;
      top: 15px;
      right: 5px;
      width: 16px;
      height: 16px;
      content: "";
      border-bottom: 2px solid $border-color;
      border-left: 2px solid $border-color;
      transition: transform $transition-time;
      transform: rotate(-45deg);
    }

    &:active,
    &:focus {
      @include field-focus;
    }
  }

  &__panel {
    overflow: hidden;
    transition-timing-function: ease;
    transition-property: height, visibility;
  }

  &__text {
    padding: 15px 0;
  }
}
