//- Pug-файл этого блока:
//- Все примеси в этом файле должны начинаться c имени блока (main-nav)
//- Структура меню — в main-nav.data.pug

mixin main-nav(selectedID)
  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
    +main-nav('1')

  //- подключаем файл со структурой данных блока
  include main-nav.data.pug

  nav.main-nav&attributes(attributes)
    ul.menu
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem)
          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            +main-nav-sublist-wrapper(2)
              each menuItem2 in menuItem.childs
                +main-nav-item(selectedID, menuItem2)
                  if (typeof(menuItem2.childs) !== 'undefined' && menuItem2.childs)
                    +main-nav-sublist-wrapper(3)
                      each menuItem3 in menuItem2.childs
                        +main-nav-item(selectedID, menuItem3)

mixin main-nav-item(selectedID, item)
  -
    var thisItemClass = 'menu-item';
    if(selectedID == item.id) {
      thisItemClass += ' current-menu-item';
    }
    if(item.childs) {
      thisItemClass += ' menu-item-has-children';
    }

  li(class=thisItemClass)
    a(href=item.url)= item.name
    block

mixin main-nav-sublist-wrapper
  -
    var listClass = 'sub-menu';
  ul(class=listClass)
    block
