$input-padding-y: 10px;
$input-padding-x: 20px;
$input-font-size: 16px;
$input-font-weight: 400;
$input-line-height: 1.5;
$input-color: $body-color;
$input-border-color: $border-color;
$input-border-width: 1px;
$input-placeholder-color: rgb(187 187 187);
$input-bg: $body-bg;

@import "node_modules/bootstrap/scss/forms/form-control";

.form-control {
  @include media-breakpoint-down(lg) {
    padding: rfs-fluid-value($input-padding-y) rfs-fluid-value($input-padding-x);
    font-size: rfs-fluid-value($input-font-size);
  }
}
