// В этом файле должны быть стили для БЭМ-блока img-comparison-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

img-comparison-slider {
  outline: none;
  visibility: hidden;

  &[slot="second"] {
    display: none;
  }

  &.rendered {
    visibility: inherit;
  }

  &.rendered [slot="second"] {
    display: unset;
  }
}
