// В этом файле должны быть стили для БЭМ-блока table-responsive, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.table-responsive {
  width: 100%;
  margin-top: $typo-margin-vertical;
  margin-bottom: $typo-margin-vertical;
  border: 1px solid $border-color;
  border-collapse: collapse;

  caption {
    padding: 0.4em $field-padding-horizontal;
    color: $text-color-muted;
    font-size: $font-size-sm;
    line-height: 1em;
    text-align: left;
    caption-side: top;
    border: 1px solid $border-color;
    border-bottom: 0;

    @media (max-width: ($screen-md - 1)) {
      display: block;
      margin-top: 1em;
      margin-bottom: 0.5em;
      padding: 0;
      color: currentcolor;
      font-weight: 700;
      font-size: $font-size-h3;
      font-family: $font-family;
      line-height: 1.2;
      border: 0;
    }
  }

  th {
    text-align: inherit;
  }

  td,
  th {
    padding: $field-padding-vertical $field-padding-horizontal;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  @media (max-width: ($screen-md - 1)) {
    display: block;
    border: 0;

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;

      tr {
        display: block;
        border: 1px solid $border-color;
        border-bottom: 0;

        &:not(:last-child) {
          margin-bottom: 1em * $line-height;
        }
      }

      td {
        display: block;
        width: 100%;
        border-right: 0;
        border-left: 0;

        &::before {
          display: block;
          font-weight: 700;
          content: attr(data-label);
        }
      }
    }
  }
}
