mixin off-canvas(mods)
  -
    const baseName = 'off-canvas'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .off-canvas(class=allMods)&attributes(attributes)
    .off-canvas__header
      .off-canvas__logo(href='/')
        img(src='./images/logo.svg')
      +close('Закрыть')
    .off-canvas__body
      +main-nav('0')
      .off-canvas__contacts
        .off-canvas__phone-container
          a(href='tel:+79002448310') 89002448310
        .off-canvas__mail-container
          a(href='mailto:ocupuc123@mail.ru') ocupuc123@mail.ru
