mixin offcanvas-lg(mods)
  -
    const baseName = 'offcanvas-lg'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .offcanvas-lg.offcanvas-end(class=allMods id='offcanvasMobileMenu' tabindex='-1')&attributes(attributes)
    .offcanvas-header
      +logo()
      button.btn-close(type='button' data-bs-dismiss='offcanvas' data-bs-target='#offcanvasMobileMenu' aria-label='Закрыть')
    .offcanvas-body
      +main-nav()
      .d-lg-none.pt-5
        .d-block.mb-3
          a.h5(href='tel:89002448310') +7 900 244-83-10
        .d-block
          a.h5(href='mailto:yandex@yandex.ru') yandex@yandex.ru

