// В этом файле должны быть стили для БЭМ-блока slider-arrows, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider-arrows {
  $slider-arrows: &; // #{$slider-arrows}__element
  display: flex;
  gap: 0 8px;

  &__button {
    @include flex-all-center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    color: $text-color;
    cursor: pointer;
    background-color: #d9d9d9;
    border-radius: 50%;

    @include tablet-viewport {
      width: 50px;
      height: 50px;
    }

    &.swiper-button-disabled {
      cursor: default;
      opacity: 0.8;
    }

    &.swiper-button-lock {
      display: none;
    }
  }
}
