// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.burger {
  $burger: &; // #{$burger}__element

  @include flex-all-center;

  position: relative;
  z-index: 1;
  width: 32px;
  height: 32px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  &__line {
    position: relative;
    display: block;
    width: 90%;
    height: $toggler-part-height;
    color: transparent;
    font-size: 0;
    background: $gray-dark;
    transition: background $transition-time $transition-time;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background: $gray-dark;
      transform-origin: 50% 50%;
      transition: top $transition-time $transition-time, transform $transition-time;
      content: "";
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }

  &--close {

    #{$burger}__line {
      background: transparent;
      transition: background $transition-time 0s;

      /* stylelint-disable-next-line max-nesting-depth */
      &::before,
      &::after {
        top: 0;
        transition: top $transition-time, transform $transition-time $transition-time;
      }

      /* stylelint-disable-next-line max-nesting-depth */
      &::before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      /* stylelint-disable-next-line max-nesting-depth */
      &::after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}
