//- Все примеси в этом файле должны начинаться c имени блока (offcanvas-mobile)

mixin offcanvas-mobile(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +offcanvas-mobile('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' offcanvas-mobile--' + modsList[i].trim();
      }
    }

  .offcanvas-mobile(class=allMods)&attributes(attributes)
    .offcanvas-mobile__header
      .offcanvas-mobile__logo
        +logo()
      +close('Закрыть')(data-offcanvas='close')
    .offcanvas-mobile__body
      block
    .offcanvas-mobile__footer
      .offcanvas-mobile__phones
        a(href='tel:89002448310') +7 900 244 83 10
        a(href='tel:89002448310') +7 900 244 83 10
      .offcanvas-mobile__mails
        a(href='mailto:mail@mail.ru') mail@mail.ru
