@mixin grid-column-2 {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px 0;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@mixin grid-column-3 {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px 0;

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin grid-column-4 {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px 0;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
