// Стили прибитого подвала
.page {
  min-width: 320px;
  min-height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__header {
    flex-shrink: 0;
  }

  &__main {
    flex: 1 1 auto;
  }

  &__footer {
    flex-shrink: 0;
  }
}

img {
  max-width: 100%;
}

svg {
  fill: currentcolor;
}

.container {
  margin: 0 auto;
  padding: 0 calc($container-padding-x * 0.5);
  width: 100%;
  max-width: calc($container-width + $container-padding-x);
}

.btn {
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-down(lg) {
    padding: rfs-fluid-value($btn-padding-y) rfs-fluid-value($btn-padding-x);
    font-size: rfs-fluid-value($btn-font-size);
  }
}

.form-control {
  @include media-breakpoint-down(lg) {
    padding: rfs-fluid-value($input-padding-y) rfs-fluid-value($input-padding-x);
    font-size: rfs-fluid-value($input-font-size);
  }
}

.mm-spn.mm-spn--light {
  background: #fff;
}