p {
  margin-top: $paragraph-margin-top;
}

article {
  h1,
  .h1 {
    @include media-breakpoint-up(lg) {
      margin-bottom: $h1-margin-bottom;
    }
  }

  h2,
  .h2 {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: $h2-margin-top;
      margin-bottom: $h2-margin-bottom;
    }
  }

  h3,
  .h3 {
    margin-top: 30px;

    @include media-breakpoint-up(lg) {
      margin-top: $h3-margin-top;
      margin-bottom: $h3-margin-bottom;
    }
  }

  ul,
  ol {
    margin: 30px 0;

    li {
      &::marker {
        color: $primary;
      }

      + li {
        @include media-breakpoint-up(lg) {
          margin-top: 10px;
        }
      }
    }
  }
}
