// Цвета
$body-bg: #fff;
$body-color: #000;
$primary: #f1bb0a;
$secondary: #0a66f0;
$border-color: rgb(211 211 211);

// Ширины

$grid-gutter-width: 30px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: calc(1170px + $grid-gutter-width),
);

// Брейкпоинты
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

// Типография
$font-family-base: "Inter";
$font-size-base: 1rem;
$line-height-base: 1.5;
$body-text-align: left;
$link-decoration: none;

// Параграф
$paragraph-margin-bottom: 1rem;

// Заголовки
$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 26px;
$headings-margin-bottom: 30px;
$headings-font-weight: 700;

// Кнопки
$btn-padding-y: 10px;
$btn-padding-x: 30px;
$btn-font-size: 16px;
$btn-line-height: 1.5;
$btn-white-space: nowrap;
$btn-border-width: 1px;
$btn-font-weight: 400;

// Различные настройки
$border-radius: 0.25rem;
$colors: ();
$grays: ();
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
);
$theme-colors-rgb: ();