@use "sass:color";

// Настройка страницы
$body-font-famaly: "Arial", sans-serif;
$body-font-size: 1rem;
$html-line-height: 1.5;
$link-text-decoration: none;
$link-text-decoration-hover: none;

// Цвета

$color-main: #0275d9;
$color-success: #5cb75c;
$color-danger: #d8544f;
$color-warning: #efac4d;
$text-color-muted: #c2c2c2;

// Семантические цвета

$body-bg: #fff;
$body-color: #333;
$heading-color: #202020;
$link-color: $color-main;
$link-color-hover: color.adjust($link-color, $blackness: 15%); // stylelint-disable-line

// Базовая типографика

$heading-font-weight: 700;
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 16px;

// Ширины

$screen-xs: 0;
$screen-sm: 480;
$screen-md: 768;
$screen-lg: 1025;
$screen-xl: 1200;
$screen-xxl: 1440;

// Разное

$transition-time: 0.2s;
$border-radius: 3px;
$shadow: 0 4px 2px -2px rgb(0 0 0 / 30%);
