@import "node_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  text-align: left;
  background-color: $body-bg;
}

html {
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

img,
svg,
picture,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }

  &[href^="tel:"] {
    white-space: nowrap;
  }
}
