@import "node_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: $text-color;
  font-family: $font-family;
  text-align: left;
  background-color: $body-bg;
}

html {
  height: 100%;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-tap-highlight-color: transparent;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color $transition-time;

  &:hover,
  &:focus {
    color: $link-color--hover;
    text-decoration: none;
  }

  &[href^="tel:"] {
    @media (min-width: $screen-lg) {
      white-space: nowrap;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: calc($container-width + ($container-gap * 2));
  margin: 0 auto;
  padding: 0 $container-gap;

  @include mobile-l-viewport {
    padding: 0 calc($container-gap / 2);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0 0 30px;
  color: currentcolor;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}
