/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/dollar-variable-colon-space-after */
@use "sass:color";

$black:                       #000;
$gray-darkest:                #1a1a1a;
$gray-darker:                 #333;
$gray-darken:                 #4d4d4d;
$gray-dark:                   #666;
$gray:                        #808080;
$gray-light:                  #999;
$gray-lighten:                #b3b3b3;
$gray-lighter:                #ccc;
$gray-lightest:               #e6e6e6;
$white:                       #fff;
$color-main:                  #0275d9;
$color-success:               #5cb75c;
$color-danger:                #d8544f;
$color-warning:               #efac4d;
$color-vk:                    #4a76a8;
$color-fb:                    #4267b2;
$color-tw:                    #40a2f5;
$color-gh:                    #24292e;


// Семантические цвета

$text-color:                  $gray-darker;
$heading-color:               $gray-darkest;
$text-color-muted:            $gray;
$body-bg:                     $white;
$link-color:                  $color-main;
$link-color--hover:           color.adjust($color-main, $lightness: -15%);
$border-color:                $gray-lighten;


// Базовая типографика

$font-size:                   16px;
$font-size-h1:                40px;
$font-size-h2:                32px;
$font-size-h3:                24px;
$font-size-h4:                18px;
$font-size-h5:                16px;
$font-size-h6:                16px;
$font-size-sm:                0.75em;
$line-height:                 1.5;
$typo-margin-vertical:        1em;
$heading-font-weight:         700;
$font-family:                 -apple-system, blinkmacsystemfont, "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// Ширины

$screen-sm:                   425px;
$screen-md:                   768px;
$screen-lg:                   1024px;
$screen-xl:                   1440px;
$screen-xxl:                  1800px;
$container-width:             1170px;
$container-gap:               30px;

// Разное

$field-padding-vertical:      5px;
$field-padding-horizontal:    12px;
$border-radius:               3px;
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgb(0 0 0 / 30%);
$menu-desktop-width:          $screen-lg;
$toggler-part-height:         2px;
$z-index-modal:               100;
$aos-distance:                100px;
$rfs-breakpoint:              $screen-lg;
