//- Стандартный шаблон страницы

include ../blocks/mixins

doctype html
html.app(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block meta
      title Главная страница
    meta(name="description", content="Описание")
    link(rel="stylesheet", href="./css/main.css")

    //- Предзагрузка шрифтов или иных ресурсов
    //- link(rel='preload' href='fonts/Bloggersans.woff2' as='font' type='font/woff2' crossorigin='anonymous')

  body
    .app__inner
      .app__content
        +page-header
        block content
      .app__footer-wrapper
        +page-footer
    block scripts
      script(src="./js/scripts.min.js")
