//- Стандартный шаблон страницы

include ../components/mixins
block consts

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block meta
      title Главная страница
    meta(name="description", content="Описание")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet", href="./css/main.css")

    //- Фавиконки
    //- link(rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96")
    //- link(rel="icon" type="image/svg+xml" href="/favicons/favicon.svg")
    //- link(rel="shortcut icon" href="/favicons/favicon.ico")
    //- link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png")
    //- link(rel="manifest" href="/favicons/site.webmanifest")

    //- Предзагрузка шрифтов или иных ресурсов
    //- link(rel='preload' href='fonts/Bloggersans.woff2' as='font' type='font/woff2' crossorigin='anonymous')

  body(class=`${bodyClass || ''}`)
    +page-header
    block content
    +page-footer
    block scripts
      script(src="./js/scripts.min.js")
