//- Стандартный шаблон страницы

include ../components/mixins
block consts

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block meta
      title Главная страница
    meta(name="description", content="Описание")
    meta(name="format-detection", content="telephone=no")
    link(rel="stylesheet", href="./css/main.css")

    //- Предзагрузка шрифтов или иных ресурсов
    //- link(rel='preload' href='fonts/Bloggersans.woff2' as='font' type='font/woff2' crossorigin='anonymous')

  body(class=`${bodyClass || ''}`)
    +page-header
    block content
    +page-footer
    block scripts
      script(src="./js/scripts.min.js")
