//- Стандартный шаблон страницы

include ../blocks/mixins

doctype html
html.page(lang='ru')
  head
    block meta
      title Главная страница
    meta(charset='UTF-8')
    meta(name='description' content='Описание')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    link(rel='stylesheet' href='./css/main.css')

    //- Предзагрузка шрифтов или иных ресурсов
    //- link(rel='preload' href='fonts/Bloggersans.woff2' as='font' type='font/woff2' crossorigin='anonymous')

  body.page__body
    +page-header
    block content
    +page-footer
    block scripts
      if process.env.NODE_ENV === 'development'
        script(src='./js/vendors.min.js')
      script(src='./js/scripts.min.js')
