// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
@use "../../../styles/settings/variables" as *;
@use "../../../styles/utils/mixins" as *;

.form {
  &__fieldset {
    display: grid;
    gap: 20px 0;
    align-items: flex-start;
  }

  &__action {
    margin-top: $typo-margin-vertical;
  }
}
