/* stylelint-disable scss/dollar-variable-pattern */

// Breakpoint
$sm-clean__desktop-vp: $screen-lg * 1px;

// Colors
$sm-clean__gray-darker: $text-color;

// Typography
$sm-clean__font-family: $font-famaly;
$sm-clean__font-size-base: 20px;
$sm-clean__font-size-small: 16px;
$sm-clean__line-height: 17px;

// Borders
$sm-clean__border-width: 1px;
$sm-clean__border-radius: $border-radius;

// ----------------------------------------------------------
// :: Desktop main menu
// ----------------------------------------------------------

// Menu box
$sm-clean__desktop-bg: transparent;
$sm-clean__desktop-border-radius: 0;
$sm-clean__desktop-padding-horizontal: 0;

// Items
$sm-clean__desktop-item-color: $sm-clean__gray-darker;
$sm-clean__desktop-item-hover-color: $color-main;
$sm-clean__desktop-item-current-color: $color-main;
$sm-clean__desktop-item-padding-vertical: 12px;
$sm-clean__desktop-item-padding-horizontal: 12px;

// Sub menu indicators
$sm-clean__desktop-arrow-color: $sm-clean__gray-darker;
$sm-clean__desktop-arrow-spacing: 10px;

// ----------------------------------------------------------
// :: Desktop sub menus
// ----------------------------------------------------------

// Menu box
$sm-clean__desktop-sub-bg: $white;
$sm-clean__desktop-sub-border-color: $border-color;
$sm-clean__desktop-sub-box-shadow: $shadow;
$sm-clean__desktop-sub-padding-vertical: 10px;
$sm-clean__desktop-sub-padding-horizontal: 0;

// Items
$sm-clean__desktop-sub-item-color: $sm-clean__gray-darker;
$sm-clean__desktop-sub-item-hover-color: $color-main;
$sm-clean__desktop-sub-item-hover-bg: $white;
$sm-clean__desktop-sub-item-current-color: $color-main;
$sm-clean__desktop-sub-item-padding-vertical: 10px;
$sm-clean__desktop-sub-item-padding-horizontal: 20px;

// ----------------------------------------------------------
// :: Collapsible main menu
// ----------------------------------------------------------

// Menu box
$sm-clean__collapsible-bg: $white;
$sm-clean__collapsible-border-radius: 0;

// Items
$sm-clean__collapsible-item-color: $sm-clean__gray-darker;
$sm-clean__collapsible-item-current-color: $color-main;
$sm-clean__collapsible-item-padding-vertical: 13px;
$sm-clean__collapsible-item-padding-horizontal: 20px;
$sm-clean__collapsible-separators-color: $border-color;
$sm-clean__collapsible-toggle-bg: $gray-lightest;
