// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {
  &__fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: var(--typo-margin-vertical);
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: var(--typo-margin-vertical);
    color: currentcolor;
    font-weight: 700;
    font-size: $font-size-h3;
    font-family: $font-famaly;
    line-height: var(--line-height);
    white-space: normal;
  }
}
