//- Все примеси в этом файле должны начинаться c имени блока (smartmenu)

mixin smartmenu(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +smartmenu('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' smartmenu--' + modsList[i].trim();
      }
    }

  ul.smartmenu(class=allMods)&attributes(attributes)
    li #[a(href='#') Пункт 1]
      ul
        li #[a(href='#') Пункт 1]
        li #[a(href='#') Пункт 2]
        li #[a(href='#') Пункт 3]
    li #[a(href='#') Пункт 2]
    li #[a(href='#') Пункт 3]
