/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable max-nesting-depth */
/* stylelint-disable declaration-no-important */
/* stylelint-disable function-no-unknown */
/* stylelint-disable scss/dollar-variable-pattern */
/* stylelint-disable scss/no-global-function-names */

/* stylelint-disable-next-line scss/at-import-no-partial-leading-underscore */
@use "sass:math";
@import "./mixins/sub-items-indentation";

// Core
.smartmenu {
  position: relative;
  z-index: $z-index-modal;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.smartmenu,
.smartmenu ul,
.smartmenu li {
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
  list-style: none;
}

.smartmenu-rtl,
.smartmenu-rtl ul,
.smartmenu-rtl li {
  direction: rtl;
  text-align: right;
}

.smartmenu ul {
  display: none;
}

.smartmenu li,
.smartmenu a {
  position: relative;
}

.smartmenu a {
  display: block;
}

.smartmenu a.disabled {
  cursor: default;
}

.smartmenu::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  font: 0/0 serif;
  content: "";
}

// This file is best viewed with Tab size 4 code indentation


// -----------------------------------------------------------------------------------------------------------------
// 1. Theme Quick Settings (Variables)
// (for further control, you will need to dig into the actual CSS in 2.)
// -----------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------
// :: 1.1. Colors
// ----------------------------------------------------------

$sm__primary: $color-main !default;
$sm__white: #fff !default;
$sm__dark: $gray-darkest !default;
$sm__box-shadow: rgb(0 0 0 / 20%) !default;


// ----------------------------------------------------------
// :: 1.2. Breakpoints
// ----------------------------------------------------------

$sm__desktop-vp: $screen-lg;		// switch from collapsible to desktop


// ----------------------------------------------------------
// :: 1.3. Typography
// ----------------------------------------------------------

$sm__font-family: $font-family !default;
$sm__font-size-base: 16px !default;
$sm__font-size-smartmenuall: 16px !default;
$sm__line-height: 16px !default;
$sm__font-weight: 400 !default;
$sm__text-transform: none !default;


// ----------------------------------------------------------
// :: 1.4. Borders
// ----------------------------------------------------------

$sm__border-width: 1px !default;
$sm__border-radius-base: $border-radius !default;
$sm__border-radius-smartmenuall: 2px !default;


// ----------------------------------------------------------
// :: 1.5. Collapsible main menu
// ----------------------------------------------------------

// Menu box
$sm__collapsible-bg: $sm__white !default;
$sm__collapsible-border-color: $sm__dark !default;

// Items
$sm__collapsible-item-color: $gray-darkest !default;
$sm__collapsible-item-disabled-color: darken($sm__white, 20%) !default;
$sm__collapsible-item-padding-vertical: 13px !default;
$sm__collapsible-item-padding-horizontal: 20px !default;

// Items separators
$sm__collapsible-separators-color: rgba($sm__dark, 0.2) !default;

// Toggle button (sub menu indicators)
$sm__collapsible-toggle-bg: rgba($sm__dark, 0.2) !default;


// ----------------------------------------------------------
// :: 1.6. Collapsible sub menus
// ----------------------------------------------------------

// Menu box
$sm__collapsible-sub-bg: rgba($sm__dark, 0.2) !default;

// Items text indentation for deeper levels
$sm__collapsible-sub-item-indentation: 8px !default;


// ----------------------------------------------------------
// :: 1.7. Desktop main menu
// ----------------------------------------------------------

// Menu box
$sm__desktop-bg: transparent !default;

// Items
$sm__desktop-item-color: $sm__dark !default;
$sm__desktop-item-hover-color: $sm__primary !default;
$sm__desktop-item-hover-bg: transparent !default;
$sm__desktop-item-highlighted-color: $sm__primary !default;
$sm__desktop-item-highlighted-bg: transparent !default;
$sm__desktop-item-highlighted-box-shadow: none !default;
$sm__desktop-item-disabled-color: darken($sm__white, 20%) !default;
$sm__desktop-item-padding-vertical: 10px !default;
$sm__desktop-item-padding-horizontal: 15px !default;

// Sub menu indicators
$sm__desktop-arrow-size: 6px !default;		// border-width
$sm__desktop-arrow-color: $sm__dark !default;
$sm__desktop-arrow-hover-color: $sm__primary !default;
$sm__desktop-arrow-highlighted-color: $sm__primary !default;
$sm__desktop-arrow-spacing: 6px !default;

// Vertical items
$sm__desktop-vertical-item-highlighted-color: $sm__desktop-item-hover-color !default;
$sm__desktop-vertical-item-highlighted-bg: $sm__desktop-item-hover-bg !default;
$sm__desktop-vertical-item-padding-vertical: 10px !default;
$sm__desktop-vertical-item-padding-horizontal: 20px !default;


// ----------------------------------------------------------
// :: 1.8. Desktop sub menus
// ----------------------------------------------------------

// Menu box
$sm__desktop-sub-bg: $sm__white !default;
$sm__desktop-sub-box-shadow: 0 5px 9px $sm__box-shadow !default;
$sm__desktop-sub-padding-vertical: 5px !default;
$sm__desktop-sub-padding-horizontal: 0 !default;
$sm__desktop-sub-border-color: $border-color !default;

// Items
$sm__desktop-sub-item-color: $sm__dark !default;
$sm__desktop-sub-item-hover-color: $sm__primary !default;
$sm__desktop-sub-item-hover-bg: #eee !default;
$sm__desktop-sub-item-disabled-color: lighten($sm__primary, 50%) !default;
$sm__desktop-sub-item-padding-vertical: 10px !default;
$sm__desktop-sub-item-padding-horizontal: 15px !default;


// -----------------------------------------------------------------------------------------------------------------
// 2. Theme CSS
// -----------------------------------------------------------------------------------------------------------------


// ----------------------------------------------------------
// :: 2.1. Collapsible mode (mobile first)
// ----------------------------------------------------------

// calc item height and sub menus toggle button size
$sm__item-height: $sm__line-height + $sm__collapsible-item-padding-vertical * 2;

// set toggle button size to 80% of item height
$sm__toggle-size: floor($sm__item-height * 0.8);
$sm__toggle-spacing: floor($sm__item-height * 0.1);

// Main menu box
.smartmenu {
  background: $sm__collapsible-bg;

  // Main menu items
  a {
    transition: none;

    &,
    &:hover,
    &:focus,
    &:active {
      padding: $sm__collapsible-item-padding-vertical $sm__collapsible-item-padding-horizontal;

      /* make room for the toggle button (sub indicator) */
      padding-right: $sm__collapsible-item-padding-horizontal + $sm__toggle-size + $sm__toggle-spacing;
      color: $sm__collapsible-item-color;
      font-weight: $sm__font-weight;
      font-size: $sm__font-size-base;
      font-family: $sm__font-family;
      line-height: $sm__line-height;
      text-decoration: none;
    }

    // Toggle buttons (sub menu indicators)
    .sub-arrow {
      position: absolute;
      top: 50%;
      right: $sm__toggle-spacing;
      left: auto;
      width: $sm__toggle-size;
      height: $sm__toggle-size;
      margin-top: -(math.ceil(calc($sm__toggle-size / 2)));
      overflow: hidden;
      font: 700 #{$sm__font-size-smartmenuall}/#{$sm__toggle-size} monospace !important;
      text-align: center;
      text-shadow: none;
      background: $sm__collapsible-toggle-bg;
      border-radius: $sm__border-radius-base;
    }

    .sub-arrow::before {
      content: "+";
    }

    &.current {
      color: $sm__primary;
    }

    &.disabled {
      color: $sm__collapsible-item-disabled-color;
    }

    &.highlighted .sub-arrow::before {
      content: "-";
    }
  }

  // Main menu items separators
  li {
    border-top: 1px solid $sm__collapsible-separators-color;
  }

  > li:first-child {
    border-top: 0;
  }

  // Sub menus box
  ul {
    // Add indentation for sub menus text for deeper levels
    @include sm-mint__sub-items-indentation($sm__collapsible-sub-item-indentation);

    background: $sm__collapsible-sub-bg;

    // Sub menus items
    a {
      &,
      &:hover,
      &:focus,
      &:active {
        font-size: $sm__font-size-smartmenuall;

        // add indentation for sub menus text
        border-left: $sm__collapsible-sub-item-indentation solid transparent;
      }
    }
  }
}


// ----------------------------------------------------------
// :: 2.2. Desktop mode
// ----------------------------------------------------------

@media (min-width: $sm__desktop-vp) {
  /* Switch to desktop layout
	-----------------------------------------------
	   These transform the menu tree from
	   collapsible to desktop (navbar + dropdowns)
	----------------------------------------------- */

  /* start... (it's not recommended editing these rules) */
  .smartmenu ul {
    position: absolute;
    width: 12em;
  }

  .smartmenu li {
    float: left;
  }

  .smartmenu > li > a {
    text-transform: $sm__text-transform;
  }

  .smartmenu.smartmenu-rtl li {
    float: right;
  }

  .smartmenu ul li,
  .smartmenu.smartmenu-rtl ul li,
  .smartmenu.smartmenu-vertical li {
    float: none;
  }

  .smartmenu a {
    white-space: nowrap;
  }

  .smartmenu ul a,
  .smartmenu.smartmenu-vertical a {
    white-space: normal;
  }

  .smartmenu .smartmenu-nowrap > li > a,
  .smartmenu .smartmenu-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */

  // Main menu box
  .smartmenu {
    background: $sm__desktop-bg;
    border-top: 0;

    // Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." in the default download package
    .scroll-up,
    .scroll-down {
      position: absolute;
      display: none;
      height: 20px;
      overflow: hidden;
      background: $sm__desktop-sub-bg;
      visibility: hidden;

      // width and position will be set automatically by the script
    }

    .scroll-up-arrow,
    .scroll-down-arrow {
      position: absolute;
      top: 6px;
      left: 50%;

      // we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too
      width: 0;
      height: 0;
      margin-left: -8px;
      overflow: hidden;
      border-color: transparent transparent $sm__desktop-arrow-color transparent;
      border-style: dashed dashed solid;
      border-width: 0 6px 8px; // tweak size of the arrow
    }

    .scroll-down-arrow {
      border-color: $sm__desktop-arrow-color transparent transparent transparent;
      border-style: solid dashed dashed;
      border-width: 8px 6px 0;
    }

    // Main menu items
    a {
      &,
      &:hover,
      &:focus,
      &:active,
      &.highlighted {
        padding: $sm__desktop-item-padding-vertical $sm__desktop-item-padding-horizontal;
        color: $sm__desktop-item-color;
      }

      &:hover,
      &:focus,
      &:active {
        color: $sm__desktop-item-hover-color;
        background: $sm__desktop-item-hover-bg;
        border-radius: $sm__border-radius-base;
      }

      &:hover .sub-arrow,
      &:focus .sub-arrow,
      &:active .sub-arrow {
        border-color: $sm__desktop-arrow-hover-color transparent transparent transparent;
      }

      // Sub menu indicators
      .sub-arrow {
        top: 50%;
        right: $sm__desktop-item-padding-horizontal;
        width: 0;
        height: 0;
        margin-top: -(math.ceil(calc($sm__desktop-arrow-size / 2)));
        background: transparent;
        border-color: $sm__desktop-arrow-color transparent transparent transparent;
        border-style: solid dashed dashed;
        border-width: $sm__desktop-arrow-size ($sm__desktop-arrow-size * 0.67) 0 ($sm__desktop-arrow-size * 0.67);
        border-radius: 0;
      }

      // reset mobile first style
      .sub-arrow::before {
        display: none;
      }

      &.highlighted {
        color: $sm__desktop-item-highlighted-color;
        background: $sm__desktop-item-highlighted-bg;
        border-radius: $sm__border-radius-base;
        box-shadow: $sm__desktop-item-highlighted-box-shadow;
      }

      &.disabled {
        color: $sm__desktop-item-disabled-color;
        background: transparent;
        box-shadow: none;
      }

      // Make room for the sub arrows
      &.has-submenu {
        padding-right: $sm__desktop-item-padding-horizontal + 8px + $sm__desktop-arrow-spacing;
      }

      &.highlighted .sub-arrow {
        border-color: $sm__desktop-arrow-highlighted-color transparent transparent transparent;
      }

      &.disabled .sub-arrow {
        border-color: $sm__desktop-arrow-color transparent transparent transparent;
      }
    }

    // No main menu items separators
    li {
      border-top: 0;
    }

    // Sub menus box
    ul {
      padding: $sm__desktop-sub-padding-vertical $sm__desktop-sub-padding-horizontal;
      background: $sm__desktop-sub-bg;
      border: 1px solid $sm__desktop-sub-border-color;
      border-radius: $sm__border-radius-base;
      box-shadow: $sm__desktop-sub-box-shadow;

      // 2+ sub levels need rounding of all corners
      ul {
        border-radius: $sm__border-radius-base;
      }

      // Sub menus items
      a {
        &,
        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          padding: $sm__desktop-sub-item-padding-vertical $sm__desktop-sub-item-padding-horizontal;
          color: $sm__desktop-sub-item-color;
          border: 0 !important;
          border-radius: 0;
        }

        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          color: $sm__desktop-sub-item-hover-color;
          background: $sm__desktop-sub-item-hover-bg;
          box-shadow: none;
        }

        &:hover .sub-arrow,
        &:focus .sub-arrow,
        &:active .sub-arrow,
        &.highlighted .sub-arrow {
          border-color: transparent transparent transparent $sm__desktop-arrow-hover-color;
        }

        // Sub menu indicators
        .sub-arrow {
          right: 10px;
          margin-top: -($sm__desktop-arrow-size * 0.67);
          border-color: transparent transparent transparent $sm__desktop-arrow-color;
          border-style: dashed dashed dashed solid;
          border-width: ($sm__desktop-arrow-size * 0.67) 0 ($sm__desktop-arrow-size * 0.67) $sm__desktop-arrow-size;
        }

        &.disabled {
          color: $sm__desktop-sub-item-disabled-color;
          background: transparent;
        }

        // No need for additional room for the sub arrows
        &.has-submenu {
          padding-right: $sm__desktop-item-padding-horizontal;
        }

        &.disabled .sub-arrow {
          border-color: transparent transparent transparent $sm__desktop-arrow-color;
        }
      }
    }


    // Rigth-to-left

    // Main menu box
    &.smartmenu-rtl {
      // Main menu items
      a {
        // Sub menu indicators
        .sub-arrow {
          right: auto;
          left: $sm__desktop-item-padding-horizontal;
        }

        // Make room for the sub arrows
        &.has-submenu {
          padding-right: $sm__desktop-item-padding-horizontal;
          padding-left: $sm__desktop-item-padding-horizontal + 8px + $sm__desktop-arrow-spacing;
        }
      }

      // Vertical main menu
      &.smartmenu-vertical {
        border-right: 0;
        border-left: $sm__border-width solid $sm__collapsible-border-color;

        // Vertical main menu items
        a {
          border-radius: 0 $sm__border-radius-base $sm__border-radius-base 0;

          &:hover .sub-arrow,
          &:focus .sub-arrow,
          &:active .sub-arrow,
          &.highlighted .sub-arrow {
            border-color: transparent $sm__desktop-arrow-hover-color transparent transparent;
          }

          // Sub menu indicators
          .sub-arrow {
            right: auto;
            left: 10px;
            border-color: transparent $sm__desktop-arrow-color transparent transparent;
            border-style: dashed solid dashed dashed;
            border-width: ($sm__desktop-arrow-size * 0.67) $sm__desktop-arrow-size ($sm__desktop-arrow-size * 0.67) 0;
          }

          // No need for additional room for the sub arrows
          &.has-submenu {
            padding: $sm__desktop-vertical-item-padding-vertical $sm__desktop-vertical-item-padding-horizontal;
          }

          &.disabled .sub-arrow {
            border-color: transparent $sm__desktop-arrow-color transparent transparent;
          }
        }
      }

      // Sub menus box
      ul {
        border-radius: $sm__border-radius-base 0 $sm__border-radius-base $sm__border-radius-base;

        a {
          border-radius: 0 !important;

          &:hover .sub-arrow,
          &:focus .sub-arrow,
          &:active .sub-arrow,
          &.highlighted .sub-arrow {
            border-color: transparent $sm__desktop-arrow-hover-color transparent transparent;
          }

          // Sub menu indicators
          .sub-arrow {
            right: auto;
            left: 10px;
            border-color: transparent $sm__desktop-arrow-color transparent transparent;
            border-style: dashed solid dashed dashed;
            border-width: ($sm__desktop-arrow-size * 0.67) $sm__desktop-arrow-size ($sm__desktop-arrow-size * 0.67) 0;
          }

          // No need for additional room for the sub arrows
          &.has-submenu {
            padding: $sm__desktop-sub-item-padding-vertical $sm__desktop-sub-item-padding-horizontal !important;
          }

          &.disabled .sub-arrow {
            border-color: transparent $sm__desktop-arrow-color transparent transparent;
          }
        }
      }
    }


    // Vertical main menu

    // Main menu box
    &.smartmenu-vertical {
      border-right: $sm__border-width solid $sm__collapsible-border-color;
      border-bottom: 0;

      // Main menu items
      a {
        padding: $sm__desktop-vertical-item-padding-vertical $sm__desktop-vertical-item-padding-horizontal;
        border-radius: $sm__border-radius-base 0 0 $sm__border-radius-base;

        &:hover,
        &:focus,
        &:active,
        &.highlighted {
          color: $sm__desktop-item-hover-color;
          background: $sm__desktop-item-hover-bg;
          box-shadow: none;
        }

        &:hover .sub-arrow,
        &:focus .sub-arrow,
        &:active .sub-arrow,
        &.highlighted .sub-arrow {
          border-color: transparent transparent transparent $sm__desktop-arrow-hover-color;
        }

        // Sub menu indicators
        .sub-arrow {
          right: 10px;
          margin-top: -($sm__desktop-arrow-size * 0.67);
          border-color: transparent transparent transparent $sm__desktop-arrow-color;
          border-style: dashed dashed dashed solid;
          border-width: ($sm__desktop-arrow-size * 0.67) 0 ($sm__desktop-arrow-size * 0.67) $sm__desktop-arrow-size;
        }

        &.disabled {
          color: $sm__desktop-item-disabled-color;
          background: transparent;
        }

        &.disabled .sub-arrow {
          border-color: transparent transparent transparent $sm__desktop-arrow-color;
        }
      }

      // Sub menus box
      ul {
        border-radius: $sm__border-radius-base !important;

        // Sub menus items
        a {
          padding: $sm__desktop-sub-item-padding-vertical $sm__desktop-sub-item-padding-horizontal;
        }
      }
    }
  }
}
